.paragrafo1 {
    text-align: center;
    color: darkslategray;
}
.coloreverde {
     color: seagreen;
     text-align: center
}
.sfondopagina {
     background-color: tan;
}
.li {
    float: left;
    margin: 0 20px;
}
